version: '3.3'
    #docker run -d -p 9000:9000 --name portainer --restart=always -v "/var/run/docker.sock:/var/run/docker.sock" portainer/por
services:

    sales_env_nodezqm:
        image: puzolmongol/nodezmq_v2:latest
        #depends_on: 
        #    - sales_rec_nodezqm
        container_name: sales_env_nodezqm
        entrypoint:  node ./build/sales_env.js
        networks:
            test:
                ipv4_address: '10.1.0.100'
        #logging:
        #    driver: fluentd  
        #    options:  
        #        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"                  
        
        environment:
            ip_sales_rec: 10.1.0.101                    

        restart: always

    sales_rec_nodezqm:
        image: puzolmongol/nodezmq_v2:latest
        #depends_on: 
        #    - sales_env_nodezqm       
        #    - sales_suscriber
        container_name: sales_rec_nodezqm
        networks:
            test:
                ipv4_address: '10.1.0.101'
        #logging:
        #    driver: fluentd  
        #    options:  
        #        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"  

        environment:
        - ip_sales_env=10.1.0.100
        - ip_sales_suscriber=10.1.0.102
            
        entrypoint: node ./build/sales_rec.js
        restart: always                

    sales_suscriber:
        image: puzolmongol/nodezmq_v2:latest
        container_name: sales_suscriber
        networks:
            test:
                ipv4_address: '10.1.0.102'
        #logging:
        #     driver: fluentd  
        #    options:  
        #        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"  

        environment:
            ip_sales_rec: 10.1.0.101  
                
        entrypoint: node ./build/sales_suscriber.js
        restart: always                     



  #  watchtower:
  #      image: v2tec/watchtower
  #      volumes:
  #          - /var/run/docker.sock:/var/run/docker.sock
  #          - /root/.docker/config.json:/config.json
  #      command: --interval 30
  #docker run -d   --name watchtower   -v /var/run/docker.sock:/var/run/docker.sock   v2tec/watchtower --interval 5

networks:
  test:
    ipam:
      driver: default
      config:
        - subnet: 10.1.0.0/24                


        #./run.sh
        # sudo dockerd
        # sudo mkdir /sys/fs/cgroup/systemd
        # sudo mount -t cgroup -o none,name=systemd cgroup /sys/fs/cgroup/systemd